body{width:80%;max-width:800px;margin:auto;}
.answer{
  display:inline-block;
  width:calc(50% - 2px);
  margin-bottom:15px;
}
.half{
  width:calc(50% - 2px); display:inline-block;
}

.half div{
    display:flex;
  justify-content:space-between;

}

.answer div{
  display:flex;
  justify-content:space-between;
}
.answer textarea{
  width:calc(100% - 10px);
  margin-left:2px;
}

.fieldset{
    border:1px solid black;padding:5px;
}
select, input {
  -ms-box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
  width:50%;
  margin:5px;
}
textarea{
    width:100%;
  resize:vertical;
      -ms-box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.invalid::after{
    content:"*";
    color:red;
}

.new_row{
    margin-top:10px;

    border:2px dashed black;
    text-align:center;
    border-radius:15px;
    cursor:pointer;
}
.new_row p{margin:5px;}
.plus{
    font-size:50px; font-weight:bold;
}

#savemsg{
    position:fixed; right:30px; top:-30px; border-left:2px solid lightgreen; border-right:2px solid lightgreen;
    transition:0.2s ease-in-out; padding:5px; background:cornsilk;max-height:20px; opacity:0;
    z-index:9999;
}

.run-animation {
  animation: showsave 1.5s 1;
}

@keyframes showsave {60%{top:0px;opacity:1;}100%{top:-30px; opacity:0}}
