@media screen and (max-width: 1599px) {
    .row {
        border: 2px solid black;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px;
        min-width: 800px;
        max-width: 70%;
        margin:  auto;
        position: relative;
    }
    .remove {
        position: absolute;
    }
    .passage, .question{
         display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start;
    }

    .row > div {
        border: 2px solid black;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px;
    }
}
@media screen and (min-width: 1600px) {
    .row {
        border: 2px solid black;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }
    .row > div {
        border: 2px solid black;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px;
    }
    .passage, .question {
        width: calc(50% - 10px);
        display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start;
    }

}
   .passage > div:nth-child(n+3), .question > div:nth-child(n+3){
        width: calc(25% - 10px);
    }
.answer-half {
    display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start;align-items:flex-start;
    width: calc(50% - 10px);
}
.answer-half > div.answertext{
    width:100%;
}
.answer-half > div{
    width:33%;
}
.answer-half input{
    width:calc(100% - 10px);
}

    .answers {
        display:flex; flex-direction:row; flex-wrap:wrap;justify-content:space-between;
        width: calc(100% - 10px);
    }

.answers > div:last-child{
    width:100%;
}

textarea{
    box-sizing:border-box;
}
    .remove {
        position: absolute;
        flex: none;
    }

    .row:nth-child(odd) {
    background-color: lightgray;
}
p{


    margin:0;
    padding-top:5px;
    padding-bottom:5px;
}
input {
   200px;
}

/**********************************************************************************************/

body {
    font-family: sans-serif;
}

h3 {
    margin-top: 0;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 0;
}
.editor {
    min-height: 300px;
}
.half {
    width: 50%;
    float: left;
}
.left-side {
    width: calc(50% - 15px);
    float: left;
}
.right-side {
    width: calc(50% - 15px);
    float: right;
}


.top input {
    margin-bottom: 20px;
}
.bottom {
    clear: both;
}
.left-half {
    width: calc(50% - 15px);
    float: left;
}
.right-half {
    width: calc(50% - 15px);
    float: right;
}
#UI > div.new_row {
    background-color: white;
    color: #777;
    border: 5px dashed #777;
    text-align: Center;
    cursor: pointer;
    font-size: 1.5em;
    transition: 0.2s ease-in-out;
}
#UI > div.new_row p {
    margin: 0;
}
.plus {
    text-align: center;
    color: #777;
    font-size: 5em;
}
select {
    width: 100%;
}
#UI > div.new_row:hover {
    background-color: white;
    color: black;
    border: 5px dashed black;
    text-align: Center;
    cursor: pointer;
    font-size: 1.5em;
    transition: 0.2s ease-in-out;
}
#UI > div.new_row:hover .plus {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
}
.answer {
    width: 100%;
}
.remove:hover {
    transition: 0.5s ease-in-out;
    background-color: darkred;
    color: white
}
.remove {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-weight: bold;
    right: 5px;
    top: 5px;
    text-align: Center;
    font-family: monospace;
    border-radius: 9999em;
    font-size: 20px;
    line-height: 30px;
    background: white;
    transition: 0.5s ease-in-out;
}
#savemsg {
    position: fixed;
    right: 30px;
    top: -30px;
    border-left: 2px solid lightgreen;
    border-right: 2px solid lightgreen;
    transition: 0.2s ease-in-out;
    padding: 5px;
    background: cornsilk;
    max-height: 20px;
    opacity: 0;
    z-index: 9999;
}
.run-animation {
    animation: showsave 1.5s 1;
}
@keyframes showsave {
    60% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: -30px;
        opacity: 0
    }
}
